<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527843791970-811h8q7u0ibdmfdoj82nk4eikqn5pkpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527843791970-811h8q7u0ibdmfdoj82nk4eikqn5pkpg</string>
	<key>API_KEY</key>
	<string>AIzaSyCWOsKquVvrjlECCgcSQ91yLKLT4Kx9ewg</string>
	<key>GCM_SENDER_ID</key>
	<string>527843791970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dubhacks.illuminate</string>
	<key>PROJECT_ID</key>
	<string>echo-11de8</string>
	<key>STORAGE_BUCKET</key>
	<string>echo-11de8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527843791970:ios:8c9edf95747eca01146d3b</string>
</dict>
</plist>